.frame{ 
    padding-left: 17vh;
  	padding-top: 15vh;
    border: 0;
    margin: 0;
    /*width: 100%;*/
    height: 90vh;
}

#input{
    background-color:#75abf4;
}

#main-container {
    display: -moz-grid-line;
    padding: 30px;
}

#left-side {
    text-align: center;
    background-color: white;
    border: 2px solid #094b96;
    border-radius: 15px;
    color: #3d83d5;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    height: 350px;
    width: 45%;

    display: flex;
    align-items: center;
    margin-right: 2%;
}


#right-side {
    text-align: center;
    background-color: white;
    border: 2px solid #094b96;
    border-radius: 15px;
    color: #3d83d5;
    padding: 20px;
    height: 350px;
    width: 45%;

    font-size: 30px;
    font-weight: bold;
}
#right-side ul {
    list-style: none;
}

#right-side li {
    display: inline;
}

#bottom-bar {
    display: flex;
    flex-direction: row;
}

/* #left-side {
    float: left;
    width: 30%;
} */

/* #right-side {
    float: left;
} */