<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Company Match</title>
</head>
<body>
    <div id="popup" class="popup">
        <ul id="popup-content-list" class="popup-content-list">
            <li>this is a placeholder</li>
        </ul>
        <div class="close-button" onclick="hide_popup()">close</div>
    </div>
    
    <div class="frame" id="logo">
        <h1> 
            Company Match
        </h1>
         <div class="nav">
            <ul class="navbar" id="dropdown" >
                <li class="noBorder">
                    <p>
                        |||
                    </p>
                </li>
                <li id="dropdownObject" >
                    <a class="navbar" style="text-decoration: none;" href="#about">About</a>
                </li>
                <li id="dropdownObject">
                    <a class="navbar" style="text-decoration: none;" href="#input">How to Input</a>
                </li>
                <li id="dropdownObject">
                    <a class="navbar" style="text-decoration: none;" href="#indeed">Job Search</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="frame" id="about">
        <div class = "aboutus">
            <div id = "aboutusflexcontent">
                <div class = "cardsection">
                    <div id = "card">
                        <img id = "cardpicture" src = "../static/handshakelogo3.png" alt = "ourlogo">
                        <h1>CompanyMatch</h1>
                        <ul>
                            <li>Proven models return proven results.</li>
                            <li>Find a company that you will enjoy.</li>
                            <li>Input your very own and personal info.</li>
                            <li>We did the hard job, you do the easy job.</li>
                        </ul>
                        <button id = "aboutusbutton"><a href = "#bottomnavbar">LEARN MORE ABOUT US</a></button>
                    </div>
                </div>
                <div class = "infosection">
                    <p id = "subheadingaboutus">The ability to use proven models to find a company culture where you'd make a right fit</p>
                    <h1 id = "frontpageheader">Finding a <span id = "companymatchtext">Company</span> That <span id = "companymatchtext">Matches</span> What You Are Looking For</h1>
                    <p1 id = "frontpageparagraph">Welcome to <span id = "companymatchtext">CompanyMatch!</span> We are your go-to platform for finding the perfect job match based on your unique skills, values, and career aspirations. Our mission is to bridge the gap between job seekers and employers by providing a personalized job search experience. Whether you're just starting your career or looking for new opportunities, CompanyMatch uses advanced algorithms to pair you with companies that align with your professional goals and work culture preferences. Join us today and take the next step towards finding your ideal company and career path!</p1>
                    <button id = "tryoutbutton"><a href = "#indeed">Try Out Our CompanyMatch Technology!</a></button>
                </div>
            </div>
            <p id = "directionssubheading">Follow along with the directions for each piece of input. After you are done, click submit on the left-hand side and you will be returned a list of matching companies. Good luck with your corporate journey!</p>
        </div>
    </div>
    <div class="frame" id="input">
        <div id="main-container">
            <div id="top-bar">
                <h1>
                    How to Match with Companies
                </h1>
            </div>
            <div id="bottom-bar">
                <div id="left-side">
                    <h2>
                        Finding the right company can be a difficult feat, but through the use of our keyword matching system it can be easy to find companies that align with your ethical values and future goals! Here's how it works:  
                    </h2>
                </div>
                <div id="right-side">
                    <ul>
                        <li>
                            <button onclick="changeFolder(0)" id="zero"> Culture </button>
                        </li>
                        <li>
                            <button onclick="changeFolder(1)" id="one">Practicality</button>
                        </li>
                    </ul>
                    <p id="changingFolder">
                        OK this will be the attribute that we will change by id so yeah make this absolute or smth
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="frame" id="indeed">
        <h1>
            Match With Companies!
        </h1>
    	<div class="IO">
            <div class="box Input-box">
                <div class="filters">
                    filters-placeholder
                </div>
                <form>
                    <label for="paragraph">Enter your description:</label>
                  	<br/>
                    <textarea id="user-input" placeholder="Write your description here..."></textarea>
                    <br>
                    <button type="button" onClick="getAndDisplayResult()">Submit</button>
                </form>
            </div>
            <div class="box Output-box" id="Output-box">
                <h3 id = "resultheading">We found some matches!</h3>
                <div id = "companycardlist">
                    <div id = "match-results">
                        <h3 id = "popupheaders">Your top companies:</h3>
                        <ul id = "results-list">
                            <li><p class = "outputtext"> </p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = "bottomnavbar">
        <div class = "bottomnavbarcontent">
            <div class = "bnavbarcol1">
                <p id = "smallsubheading">Company</p>
                <p>Blog</p>
                <p>Terms and Conditions</p>
                <p>Privacy Policy</p>
                <p>About us</p>
            </div>
            <div class = "bnavbarcol1">
                <p id = "smallsubheading">Customer Service</p>
                <p>Contact Us</p>
                <p>Social Media</p>
                <p>Privacy Policy</p>
                <p>About us</p>
            </div>
            <div class = "bnavbarcol1">
                <p id = "smallsubheading">About Us</p>
                <p>Career Paths</p>
                <p>Our Models</p>
                <p>Our Missions</p>
                <p>Our community</p>
            </div>
            <div class = "bnavbarcol1">
                <p id = "smallsubheading">Follow Us</p>
                <div>
                    <img id = "socialmedialogos" src = "../static/set-of-social-media-icon-in-round-bakground-free-vector-removebg-preview-removebg-preview.png" alt = "socialmedialogos">
                </div>
            </div>
        </div>
    </div>
    <script src="../static/scripts.js"></script>
</body>
</html>